# # Sample Solution: Practice Learning Activity 2 (Source and investigate usable data sources)

Sourcing and investigating usable data sources involves identifying relevant data that can fine-tune the LLM to ensure the agent’s responses and recommendations have accurate and comprehensive information to interact with users effectively. Developers must be adept at evaluating and selecting the right data sources to maximize virtual agent performance, making it more reliable and relevant in addressing user queries and providing tailored assistance.

Data is what powers AI models. The quality and quantity of your data directly impact the accuracy and performance of your AI applications.

#### **Case Scenario:** 
> Provided to you are access to view the SQL Product Database which includes Coffee bean information (e.g., origin, roast, flavor profile, recommended brew method), and brewing method recommendation. You were also specifically instructed to use a compilation of online resources, including videos and online articles of the brand's endorsers, as basis for the coffee and brewing guidance. You are expected to perform exploratory data analysis on the datasets provided in order to see how what features can be used later on for fine-tuning.

### (a) Perform exploratory data analysis on the SQL database

1. Load necessary python modules
    - First, import the necessary libraries. These have been installed already on the virtual machine.

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import sqlalchemy
from sqlalchemy import inspect
import warnings
import nltk
from nltk.sentiment.vader import SentimentIntensityAnalyzer

# Ignore warnings
warnings.filterwarnings('ignore')

2. Establish connection to MySQL server and load the tables in the databse
   - Second, establish a connection to the MySQL server running on the virtual machine. Here are the credentials that you can use to login to the MySQL server:

      | **Username:** | `ailtk-learner` |
      | --- | --- |
      | **Password:** | `DLSU1234!` |

   - The database for this practice learning activity is `ailtk_db`.

In [ ]:
# Connect to MySQL Database
engine = sqlalchemy.create_engine('mysql+pymysql://ailtk-learner:DLSU1234!@localhost:3306/ailtk_db')

In [ ]:
# Inspect the database to get the table names
inspector = inspect(engine)
table_names = inspector.get_table_names()

# Print the table names
print("Tables in the database:", table_names)

Tables in the database: ['products_beans', 'products_beans_origins', 'products_beans_reviews', 'roasters', 'roasters_countries', 'roasts']

2. (cont.)
    - What tables can you see in the database?: From the output we can see we have six tables in the database selected: 'products_beans', 'products_beans_origins', 'products_beans_reviews', 'roasters', 'roasters_countries', and 'roasts'. Let's go over them more.

3.  Load data and print basic statistics for EDA
    - Inspect the content of the SQL tables by printing the head of the data. This can be done by loading the table into a pandas dataframe and using the built-in `df.head()` function.

In [ ]:
# Define the tablename to select
table_name = "products_beans"

# Load the table into a DataFrame
query = f"SELECT * FROM {table_name}"
df = pd.read_sql(query, engine)

# Show first few rows
display(df.head())

,products_beans_id,name,roast_id,roaster_id,origin_id
0,0,“Sweety” Espresso Blend,0,0,0
1,1,Flora Blend Espresso,0,0,1
2,2,Ethiopia Shakiso Mormora,0,1,2
3,3,Ethiopia Suke Quto,0,2,2
4,4,Ethiopia Gedeb Halo Beriti,1,3,3

From the head of the table `products_beans`, we can see it includes columns for the table's primary key, the bean product's name, roast type, roaster, and origin. The presence of foreign key columns (with the other ids referenced) indicates that the table can be linked to other tables containing more detailed information about roast types, roasters, and origins of the coffee products:

- products_beans_id: Product identifier used to link other product-related information.
- name: The name of the product (e.g., “Sweety Espresso Blend,” “Ethiopia Shakiso Mormora”). Useful in providing recommendations.
- roast_id: The type of roast (e.g., light, medium, dark) associated with each product.
- roaster_id: Identifies the coffee roaster, helping the model suggest products by a particular roaster if asked.
- origin_id: Links to the coffee's geographical origin.

Let's explore those tables as they may provide more information that could contribute to the case.

In [ ]:
# Define the tablename 
table_name = "roasts"

# Load the table into a DataFrame
query = f"SELECT * FROM {table_name}"
df = pd.read_sql(query, engine)

# Show first few rows
display(df.head())

   roast_id         roast
0         0  Medium-Light
1         1        Medium
2         2         Light
3         3   Medium-Dark
4         4          None

We can observe the following about the columns of `roasts`:

roast_id: Links products to their roast type.
roast: Specifies the roast level (e.g., medium-light, medium-dark, light), an important feature for customers with specific roast preferences.

In [ ]:
# Define the tablename 
table_name = "products_beans_reviews"

# Load the table into a DataFrame
query = f"SELECT * FROM {table_name}"
df = pd.read_sql(query, engine)

# Show first few rows
display(df.head())

We can observe the following about the columns of `products_beans_review`:

- rating: Provides a score for each product, representing its quality or customer satisfaction level. This can help prioritize
- higher-rated products in recommendations.
- review_date: When the review was posted, which may help identify trends over time.
- description: Details about the product beans, such as flavor notes ("fruity," "cocoa-toned") and product-specific traits. These descriptions can be used to fine-tune the LLM to generate responses that reflect product characteristics.
- Features for Fine-Tuning: rating, review_date, description

In [ ]:
# Define the tablename 
table_name = "products_beans_origins"

# Load the table into a DataFrame
query = f"SELECT * FROM {table_name}"
df = pd.read_sql(query, engine)

# Show first few rows
display(df.head())

We can observe the following about the columns of `products_beans_origins`:

- origin_id: Identifier linking products to their region of origin.
- origin: Describes where the coffee beans were sourced (e.g., Panama, Africa, Guji Zone). This is helpful for customers who prefer coffees from specific regions.

In [ ]:
# Define the tablename 
table_name = "roasters"

# Load the table into a DataFrame
query = f"SELECT * FROM {table_name}"
df = pd.read_sql(query, engine)

# Show first few rows
display(df.head())

We can observe the following about the columns of `roasters`:

- roaster_id: Identifier linking products to the roaster.
- roaster: Name of the coffee roaster (e.g., A.R.C., Revel Coffee).
- country_id: Identifier linking the roaster to their country of origin.

In [ ]:
# Define the tablename 
table_name = "roasters_countries"

# Load the table into a DataFrame
query = f"SELECT * FROM {table_name}"
df = pd.read_sql(query, engine)

# Show first few rows
display(df.head())

   country_id roaster_country
0           0       Hong Kong
1           1   United States
2           2          Canada
3           3          Taiwan
4           4       Australia

We can observe the following about the columns of `roasters_countries`:

- country_id: Identifier for the country of origin of the roaster.
- roaster_country: Country names. This can add context to user queries about global coffee brands or roasters from specific regions.

4. Next we look at distributions of categorical data

In [ ]:
# Unique value counts in tables

In [ ]:
# Check distribution of roasts with histogram

5. Next we look at distributions of numerical data. In this case it is the ratings conained the the `product_beans_reviews` table.

In [ ]:
# Define the table name
table_name = "products_beans_reviews"

# Load the table's data into a DataFrame
query = f"SELECT * FROM {table_name}"
df = pd.read_sql(query, engine)

In [ ]:
# Display boxplots of ratings
plt.figure(figsize=(10, 6))
sns.boxplot(df['rating'])
plt.title("Boxplot of Ratings")
plt.xlabel("Rating")
plt.show()

In [ ]:
# Display scatterplot of ratings

plt.figure(figsize=(10, 6))
sns.scatterplot(x='products_beans_review_id', y='rating', data=df)
plt.title("Scatterplot of Ratings over Time")
plt.xlabel("Review ID")
plt.ylabel("Rating")
plt.xticks(rotation=45)
plt.show()

We can note that the ratings in the reviews provided are ...

6. Understanding descriptive data

In [ ]:
# Sentiment analysis

# Download the VADER lexicon for sentiment analysis
nltk.download('vader_lexicon', quiet=True)

# Initialize sentiment analyzer
sid = SentimentIntensityAnalyzer()

In [ ]:
# Apply VADER sentiment analysis on the description column
df['sentiment_score'] = df['description'].apply(lambda x: sid.polarity_scores(x)['compound'])

# Plotting sentiment scores
plt.figure(figsize=(10, 6))
sns.histplot(df['sentiment_score'], bins=30, kde=True)
plt.title("Sentiment Score Distribution")
plt.xlabel("Sentiment Score")
plt.ylabel("Frequency")
plt.show()

 The plot illustrates the distribution of the reviews' sentiment scores with a clear positive skew, meaning that most reviews are positive (with sentiment scores clustering closer to 1.0).

- Positive values indicate positive sentiment.
- Negative values indicate negative sentiment.
- Values close to zero indicate neutral sentiment.

---

### (b) Perform exploratory data analysis on the .csv file provided

Next we will go over the .csv file provided.

In [1]:
df_csv = pd.read_csv('../../learning-files/coffeepro-online-resources-exported.csv')

NameError: name 'pd' is not defined

In [ ]:
# Count different types of content (Video or Article)
content_type_counts = df_csv['Type'].value_counts()
print(content_type_counts)

In [ ]:
# Get the most common products
common_products = df_csv['Product'].value_counts().head(10)
print(common_products)

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns

# Plot the distribution of content types
plt.figure(figsize=(8, 6))
sns.countplot(data=df_csv, x='Type')
plt.title('Distribution of Content Types (Video vs Article)')
plt.xlabel('Type of Content')
plt.ylabel('Count')
plt.show()

In [ ]:
# Bar plot for top products
plt.figure(figsize=(10, 6))
common_products.plot(kind='bar', color='lightgreen')
plt.title('Top 10 Coffee Products Featured')
plt.xlabel('Product')
plt.ylabel('Count')
plt.xticks(rotation=45, ha='right')
plt.show()

The `coffeepro-online-resources-exported.csv` file focuses on additional information about coffee-related products, brewing methods, and online resources.

1. Product
The name of coffee-related equipment or accessory, which can help the LLM recommend specific items for brewing.
2. Content Focus
Describes the key focus of the resource (e.g., "Step-by-step brewing instructions," "Tips for achieving optimal flavor"). This can help the LLM provide useful brewing tips or product guidance.
3. Online Resource
URLs linking to additional resources such as instructional videos or articles. These could be used to suggest supplementary learning resources to users.
4. Type
The type of online resource (e.g., video, blog), helpful when users are looking for a specific kind of content (e.g., video tutorials).
5. Content Summary
Summarizes the content in the resource, which can help the LLM generate concise answers to user queries or offer step-by-step guidance based on detailed information.
Features for Fine-Tuning: Product, Content Focus, Type, Content Summary

---

##### In your own words, how would you describe the data provided in the case?
From our EDA we have seen the data provided as the basis for training the LLM to act as a personalized coffee concierge, capable of handling both product recommendations and engaging in knowledgeable coffee-related conversations. However, its current format is not yet suitable to be used in the fine-tuning of an LLM.
##### What can you conclude from your exploratory data analysis? Can the data's features can we use for fine-tuning later on (i.e. input columns,  output columns)? How?


Input Columns for Fine-Tuning
- SQL Tables: rating, review_date, description, name, roast, origin, roaster, roaster_country
- CSV File: Product, Content Focus, Type, Content Summary

Output Columns (LLM-Generated Responses)
- Personalized coffee recommendations (based on rating, name, roast, origin, etc.).
- Sensory-rich descriptions of coffee products (description).
- Brewing tips and techniques from the CSV's Content Focus and Content Summary.
- Recommendations for brewing equipment or roasters based on Product or roaster_country.

#### [ Back to Practice Learning Activity 2](../practice-learning-activity-2.ipynb)